.section {
  color: white;
  background-color: hsl(238, 82%, 13%);
}

.mainContent {
  display: flex;
  flex-direction: row;
}

.mainContent p {
  max-width: 45ch;
  font-size: 1vmax;
}

.titleAndContent {
  margin-left: 10dvw;
}

.titleAndContent h2 {
  padding-top: 2.5dvw;
}

.titleAndContent p {
  margin-top: 2.5dvh;
}

.imgGallary {
  display: block;
  max-width: 45dvw;
  max-height: 45dvw;
  margin-top: 3dvh;
  margin-left: auto;
  margin-right: auto;
}

.listings {
  display: flex;
  flex-direction: row;
  margin-left: 10dvw;
  gap: 0.25dvw;
}

.listTitle {
  max-width: 45ch;
  font-size: 1vmax;
}
