.section {
  color: white;
  height: 100%;
  background: local;
  background-color: hsl(238, 82%, 13%);
  border-radius: 5%;
}

.mainContent {
  display: flex;
  flex-direction: row;
}

.mainContent p {
  max-width: 50%;
}

.titleAndContent {
  margin-left: 10dvw;
}

.titleAndContent h2 {
  padding-top: 2.5dvw;
}

.titleAndContent p {
  margin-top: 2.5dvh;
}

.imgGallary {
  display: block;
  max-width: 30dvw;
  max-height: 30dvh;
  margin-left: auto;
  margin-right: auto;
}

.listings {
  margin-left: 10dvw;
}
