.introText {
  text-align: left;
  color: white;
  padding: 15px;
}

.iconTray {
  display: flex;
  justify-content: space-between;
}

.section {
  background-image: url("../../assets/imgs/backgrounds/blurred\ shapes\ 2.png");
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
}
