.introText {
  text-align: left;
  color: white;
  padding: 15px;
  margin-left: 20px;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introText h1 {
  font-size: 5vmax;
}

.introText h3 {
  font-size: 2vmax;
}

.iconTray {
  display: flex;
  justify-content: space-evenly;
  gap: 1vmax;
  min-width: auto;
  background-color: transparent;
}

.iconTray a {
  font-size: 1dvw;
}

.section {
  max-width: 100%;
  height: 100%;
}
