.introText {
  text-align: left;
  color: white;
  padding: 15px;
  margin-left: 20px;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iconTray {
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;
  gap: 35px;
  width: fit-content;
}

.section {
  max-width: 100%;
  height: 100%;
}
