.iconBackground {
  background-color: white;
}

.linkedIn {
  color: steelblue;
  width: 32px;
  height: 32px;
}

.linkedIn :hover {
  color: blue;
}

.email {
  color: black;
  width: 32px;
  height: 32px;
}

.email :hover {
  color: blue;
}

.github {
  color: black;
  width: 32px;
  height: 32px;
  background-color: black;
}

.github :hover {
  color: blue;
}
