.iconBackground {
  background-color: black;
}

.linkedIn {
  color: steelblue;
  width: 32px;
  height: 32px;
}

.linkedIn :hover {
  color: blue;
}

.email {
  color: #0077b5;
  width: 2.5dvw;
  height: 2.5dvh;
}

.email :hover {
  color: blue;
}

.github {
  color: #0077b5;
  width: 1.75dvw;
  height: 1.75dvh;
}

.github :hover {
  color: blue;
}
