.subheader {
  color: white;
  padding-top: 2.5dvw;
  padding-bottom: 0.5dvw;
}

.section {
  height: fit-content;
  margin-left: 10dvw;
  margin-right: 10dvw;
}

.section p {
  max-width: 75ch;
  font-size: 17px;
}

.accordionContent {
  display: flex;
  flex-direction: row;
}

.exampleImg {
  display: block;
  max-width: 40dvw;
  max-height: 40dvh;
  /* margin-top: 2.5dvw; */
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.2s;
}

.exampleImg:hover {
  transform: scale(1.05);
}
