.iconBackground {
  background-color: transparent;
}

.python {
  color: black;
  width: 32px;
  height: 32px;
  background-color: black;
}

.reactIcon {
  color: black;
  max-width: 40px;
  max-height: 40px;
  background-color: black;
}
